<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-show="false">
</header>

<div class="container body-container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Invite friends</h1>
  </div>

  <form class="thing-form">
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Twitter
          </a>
        </div>
  </form>
</a>
</div>

<footer class="footer">
  <div class="container">
      <p>
        <a href="https://twitter.com/PhaniPasupula">@PhaniPasupula</a> |
        <a href="https://github.com/">Issues</a></p>
  </div>
</footer>
