<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner" ng-show="false">
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" ng-show="to_create">Create Event:</h1>
      <h1 class="page-header" ng-show="!to_create">Edit Event: {{event.name}}</h1>
    </div>
  </div>

  <form class="thing-form">
    <div class="form-group">
      <label>EventAdmin: </label>
      <span ng-show="to_create">{{ getCurrentUser().name }}</span>
      <span ng-show="!to_create">{{ event.createdBy }}</span>
    </div>
    <div class="form-group">
      <label>EventName</label>
      <input type="text" class="form-control" placeholder="" ng-model="event.name">
    </div>
    <div class="form-group">
      <label>Starting Time</label>
      <input type="text" class="form-control" placeholder="" ui-date ng-model="event.startTime">
      <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    <div class="form-group">
      <label>Closing Time</label>
      <input type="text" class="form-control" placeholder="" ui-date ng-model="event.endTime">
      <timepicker ng-model="mytime1" ng-change="changed1()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" class="form-control" placeholder="" ng-model="event.address">
      <img class="venue-image" ng-click="open_external_map(venue.lat, venue.lng)" src="http://maps.googleapis.com/maps/api/staticmap?center=51.5110334422539,-0.129004630975446&amp;zoom=17&amp;size=1301x120&amp;maptype=roadmap&amp;markers=icon:http://s3-eu-west-1.amazonaws.com/bubblo-assets/location_marker.png%7C51.5110334422539,-0.129004630975446">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea style="width: 100%; height: 100px;" ng-model="event.desc"></textarea>
    </div>
    <button ng-show="to_create" class="btn btn-default" ng-click="addEvent()">Create</button>
    <button ng-show="!to_create" class="btn btn-default" ng-click="updateEvent()">Update</button>
  </form>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
<footer class="footer">
  <div class="container">
      <p>
        <a href="https://twitter.com/PhaniPasupula">@PhaniPasupula</a> |
        <a href="https://github.com/">Issues</a></p>
  </div>
</footer>
